<ion-view view-title="Highcharts">
  <ion-content>
    <h1>Highcharts</h1>

    <div class="row">
      <highchart id="chart1" config="chartConfig" class="span10"></highchart>
    </div>
  </ion-content>
</ion-view>
